.contenedor {
    background-color: #292929;
    padding: 0;
    margin: 0;
    border: 0;
}
.contact {
    padding: 0;
    margin: 0;
    border:0;
    display: inline-block;
}
.contact li{
    list-style: none;
    display: inline-block;
}
.contact li:not(:last-child)::after{
    display: inline-block;
    margin: 0 15px;
    content: '|';
    color: #7194AB;
}
.contact a {
    font-weight: bold;
    text-decoration: none;
    color: #7194AB;
}
.navigation {
    padding: 0;
    margin: 0;
    border:0;
    display: inline-block;
    vertical-align: middle;
}
.logo{
    padding: 0;
    margin: 0 ;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.navigation li {
    list-style: none;
    display: inline-block;
}
.navigation li > a{
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    padding: 25px;
}
.navigation li:hover > a{
    color: #7194AB;
    background-color: #EAEAEA;
}
body{
    padding: 0;
    margin: 0;
    border:0;
}
header{
    padding: 10px 0;
    background-color: #07426C;
    text-align: center;
}
nav{
    background-color: #1F1F1F;
    text-align: center;
}

input{
    padding: 0 10px;
    margin: 0 10px;
    border: 0;
    height: 40px;
    color: #AFAFAF;
    border-radius:3px;
    font-size: 15px;
}

#text{
    width: 100px;
}

#select{
    width: 200px;
    padding: 0 10px;
    font-size: 15px;
}

.ReadMore{
    width: 180px;
    border-radius:30px;
    background-color: #70AED3;
    color: #ECF5F8;
    font-size: 15px;
    border: solid;
    border-color: #70AED3;
}

select{
    padding: 0;
    margin: 0 10px;
    border: 0;
    height: 40px;
    color: #AFAFAF;
    border-radius:3px;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EAEAEA;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content ul{
    padding: 0;
}
.dropdown-content ul a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footerBackground{
    height: 300px;
    background-color: #1F1F1F;
}

.inputs{
    margin: 50px 0;
    padding: 80px 0;
    border: hidden;
    background-color: #222222;
    text-align: center;
}

/*Image with overlap*/

.principal1{
    position: relative;
    height: 800px;
}

.principalImage{
    position: absolute;
    top: 50px;
    right:0;
}

.floating1{
    position: relative;
    padding: 35px 70px;
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 450px;
    height: 350px;
    color: #06426D;
    top: 25%;
    right: 3%;
    font-size: x-large;
}

.floating1 > p{
    color: #6E6E6E;
}

.rightArrow{
    color: #06426D;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    width: 30px;
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    border-width: thin;
}
/* Two columns */
.twoColumns{
    overflow: hidden;
    text-align: center;
}

.twoColumns h1{
    color: #70AED3;
}

.twoColumns p{
    color: white;
}

.column1{
    display: inline-block;
    width: 400px;
    font-size: large;
    text-align: left;
}

.column1 .ReadMore{
    background-color: transparent;
    color: #68A0C2;
    margin: 15px 0;
}

/*BackgroundWithText*/

.backgroundWithText{
    background: #EFE6E1;
    position: relative;
    height: 499px;
}
.backgroundImage1{
    display: block;
    margin: 0 auto;
}

.background1TextContainer{
    position: relative;
    text-align: center;
    bottom: 68%;
}